/* Selector CSS menggunakan elemen HTML */
body {
    font-family: Arial, Helvetica, sans-serif;

}
/* jika style berlaku untuk 2 elemen dapat menggunakan sparator "," artinya AND */
h1,h2 {
    color: green;
}

/* jika elemen yang sama ingin menggunakan style yang berbeda gunakan sparator "<spasi>" artinya DIDALAM */
ul li a {
    color: aqua;
}

ol la a {
    color: blueviolet;
}

/* penggunaan id (dipanggil dengan "#") dan class (dipanggil dengan ".") sebagai selector dalam elemen HTML */
#p1 {
    color: burlywood;
}

.p2 {
    color: rebeccapurple;
}

/* membuat class pada costem pada elemen HTML */
.cetak-tebal {
    font-weight: bold;
}

.cetak-tebal {
    font-size: xx-small;
}